*{
	margin:0;
	padding:0;
	height:36px;
}
input[type=submit]{
	display:none;
}
input[type=number]{
	float:left;
	height:38px;
	width:50px;
}
h3{
	float:left;
	padding-top:5px;
}
#preOrder{
	text-align:center;
	width:175px;
	float:left;
	background-color:blue;
	cursor:pointer;
}
#preOrder{
	padding-top:2px;
	color:white;
}
#add{
	text-align:center;
	width:175px;
	float:left;
	background-color:green;
	cursor:pointer;
}
#add p{
	padding-top:2px;
}
#added{
	text-align:center;
	width:175px;
	float:left;
	background-color:green;
}
#outOfStock{
	text-align:center;
	width:175px;
	float:left;
	background-color:red;
}
#outOfStock p{
	padding-top:7px;
}
#added p{
	padding-top:7px;
}
img{
	position:relative;
	vertical-align:middle;
}