* {
	margin:0;
	padding:0;
	font-family:"Trebuchet MS";
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}
html, body{
	min-width:1024px;
	height:100%;
	width:100%;
}
@font-face{
	font-family:"UCol";
	src: url(Universal-college_DEMO-version.ttf);
}
header input[type=radio] {
	display:none;
}
input[type=submit] {
	display:none;
}
input[type=image] {
	height:20px;
	width:20px;
}
#openDepartments[type=radio]:checked  + #departmentsAll, #openBrands[type=radio]:checked  + #brandsAll, #openTerms[type=radio]:checked  + #terms, #openReturn[type=radio]:checked  + #return, #openFeedback[type=radio]:checked  + #feedback{
	display:initial;
}
.openSideMenu:hover + .categoriesAllNav, .categoriesAllNav:hover{
	display:initial;
}
label{
	cursor:pointer;
}
#searchBar{
	position:relative;
	height:80px;
	width:270px;
	float:right;
}
#cart{
	position:relative;
	margin-right:10px;
	height:80px;
	width:80px;
	float:right;
	cursor:pointer;
}
#searchBarA{
	position:relative;
	display:block;
	height:80px;
	width:80px;
	float:right;
	cursor:pointer;
}
#searchBarB{
	visibility:hidden;
	padding-right:10px;
	position:relative;
	width:220px;
	float:right;
	height:80px;
	width:180px;
}
#searchBarA:hover + #searchBarB, #searchBarB:hover{
	visibility:visible;
}
#searchBarA:hover, #cart:hover{
	background-color:#02A377;
}
#searchBar input[type=search]{
	position:relative;
	margin-top:25px;
	width:180px;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:12px;
	padding-right:12px;
}
#cart img, #searchBar input[type=image]{
	position:relative;
	vertical-align:middle;
}
#searchBar input[type=image]{
	margin-top:25px;
	margin-left:20px;
	height:34px;
	width:34px;
	float:left;
}
#cart img{
	margin-top:15px;
	margin-left:17px;
	height:50px;
	width:50px;
}
.viewAllButton{
	position:absolute;
	top:200px;
	left:79.35%;
	margin:2px;
	height:194px;
	width:19.3%;
	background-color:#999999;
	border-style:solid;
	border-width:1px;
	border-color:#999999;
	text-align:center;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	transition: background .2s linear;
}
.menuText{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	font-size:32px;
	font-weight:bold;
	color:black;
}
.categoriesAllNav{
	position:fixed;
	display:none;
	left:80%;
	top:1%;
	width:19.05%;
	height:98%;
	background:rgba(0,0,0,0.8);
	color:white;
	z-index:3;
}
.categoriesAllNav h3{
	position:relative;
	text-align:center;
	margin-top:30%;
	font-size:34px;
	letter-spacing:1px;
}
.categoriesAllNav label{
	display:block;
	position:relative;
	height:30px;
	width:150px;
	text-align:center;
	font-size:22px;
	margin-top:70px;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-width:2px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
}
.categoriesAllNav label:hover{
	color:black;
	background-color:white;
}
#departmentsAll, #brandsAll, #terms, #return, #feedback{
	position:fixed;
	display:none;
	left:1%;
	top:1%;
	width:98%;
	height:98%;
	min-width:1024px;
	overflow:hidden;
	color:black;
	z-index:2;
	background:rgba(255,255,255,0.95);
}
.closeCategoriesAll{
	position:absolute;
	margin-top:10px;
	margin-left:20px;
	font-size:36px;
	cursor:pointer;
}
#departmentsAll h2, #brandsAll h2, #terms h1, #return h1, #feedback h1{
	position:relative;
	margin-top:10px;
	text-align:center;
	font-size:30px;
	margin-left:auto;
	margin-right:auto;
	width:500px;
	letter-spacing:1px;
}
.content{
	position:relative;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	overflow-y:auto;
	height:85%;
	width:1024px;
}
#feedback input[type=textarea]{
	height:100px;
	width:80%;
}
#return div label, #feedback div label{
	position:relative;
	text-align:center;
	margin-left:5px;
	padding:5px;
	width:200px;
	font-size:16px;
	color:black;
	background-color:lightgreen;
	border-style:solid;
	border-width:2px;
}
#feedback iframe{
	height:50px;
	width:400px;
	border:none;
}
.openSideMenu{
	position:absolute;
	top:10px;
	left:96%;
	font-size:36px;
}
.closeCategoriesAll:hover, nav:hover{
	color:#33CCFF;
}
header{
	position:fixed;
	min-width:1024px;
	width:100%;
	height:80px;
	color:white;
	background:rgba(0,0,0,0.7);
	z-index:1;
}
header a h1{
	text-align:center;
	width:20%;
	position:absolute;
	margin-top:14px;
	margin-left:40%;
	font-size:38px;
	font-weight:bold;
	letter-spacing:2px;
}
a{
	color:white;
	text-decoration:none;
}
nav{
	position:fixed;
	margin-left:10px;
	margin-top:20px;
	height:60px;
	cursor:pointer;
}
nav p{
	margin-top:5px;
	font-size:20px;
	letter-spacing:2px;
}
nav:hover + #dropDownMenu, #dropDownMenu:hover, #openDepartments[type=radio]:checked ~ header #dropDownMenu, #openBrands[type=radio]:checked ~ header #dropDownMenu{
	height:400px;
}
nav:hover ~ #dropDownMenu #departments, #departmentsTab:hover ~ #departments, #brandsTab:hover ~ #brands, #brands:hover, #departments:hover{
	display:initial;
}
#dropDownMenu{
	position:relative;
	margin-top:80px;
	min-width:1024px;
	height:0;
	width:100%;
	background:#414141;
	background-color:#6A6A6A;
	overflow:hidden;
	z-index:1;
	-webkit-transition: height 0.2s linear 0s;
	-moz-transition: height 0.2s linear 0s;
	transition: height 0.2s linear 0s;
}
#departmentsTab, #brandsTab{
	position:absolute;
	height:196px;
	color:white;
	width:15%;
	min-width:124px;
	text-align:center;
	background-color:#222226;
	border-style:solid;
	border-width:2px;
	border-color:#555555;
}
#brandsTab{
	margin-top:200px;
}
#departmentsTab:hover, #brandsTab:hover{
	background-color:#181818;
}
#dropDownMenu h3{
	margin-top:70px;
	font-size:28px;
}
.options, .viewAllOptions{
	position:relative;
	margin:2px;
	float:left;
	height:194px;
	width:19.3%;
	background-color:#808080;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	border-color:#999999;
	text-align: center;
	cursor:pointer;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	transition: background .2s linear;
}
.options img{
	position:relative;
	padding-top:15px;
	height:150px;
	max-width:150px;
}
.viewAllOptions img{
	position:absolute;
	left:0%;
	height:200px;
}
.options:hover, .viewAllOptions:hover{
	background:rgba(0,0,0,0.4);
}
#brands, #departments{
	position:relative;
	display:none;
	margin-left:15%;
	padding-left:0.3%;
	min-width:900px;
	float:left;
	height:400px;
	width:85%;
	overflow:hidden;
}
footer{
	position:relative;
	height:520px;
	background-color:#404040;
	color:white;
}
.linksTitle{
	position:relative;
	font-size:26px;
	letter-spacing:1px;
	color:#04CD96;
	margin-left:100px;
}
.linksTitleP{
	position:relative;
	font-size:23px;
	letter-spacing:1px;
	color:#FFFFFF;
	margin-left:100px;
	margin-top:15px;
}
#linksTitle1{
	margin-top:100px;
	margin-left:172px;
}
#linksTitle2{
	margin-top:100px;
}
#linksTitle3{
	margin-top:40px;
}
#linksHolder{
	position:relative;
	width:390px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:50px;
}
#footerBottom p{
	margin-top:5px;
	text-align:center;
}
#linksHolder div{
	margin-left:15px;
	height:60px;
	min-width:60px;
	position:relative;
	float:left;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	background-color:#777777;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}
#linksHolder div:hover{
	background-color:#02A377;
}
#linksHolder div img{
	height:40px;
	width:40px;
	position:relative;
	margin-left:10px;
	margin-top:10px;
}
#footerLeftContainer label{
	display:block;
	height:34px;
	width:200px;
	font-size:26px;
	color:#FFFFFF;
	letter-spacing:1px;
	position:relative;
	margin-top:150px;
	margin-left:auto;
	margin-right:auto;
	padding-left:20px;
	padding-right:20px;
	padding-top:12px;
	padding-bottom:12px;
	border-style:solid;
	border-width:2px;
	text-align:center;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}
#footerLeftContainer label:hover{
	border-color:#02A377;
	background-color:#02A377;
}
#footerTopContainer{
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	min-width:1110px;
	max-width:1110px;
	margin-top:auto;
	height:450px;
}
#footerLeftContainer, #footerRightContainer{
	position:relative;
	height:450px;
	width:549px;
	float:left;
}
#footerTopContainer hr{
	height:320px;
	width:1px;
	color:#FFFFFF;
	background-color:#FFFFFF;
	display:inline;
	position:relative;
	float:left;
	margin-top:65px;
}
#footerBottomContainer{
	position:relative;
	margin-top:0px;
	height:70px;
	background-color:#282828;
	color:#B4B4B4;
}
#footerBottomContainer label:hover{
	color:#4DB8FF;
}
#footerBottomContainer p{
	position:relative;
	font-size:16px;
	letter-spacing:1px;
	margin-top:25px;
	float:left;
}
#TermsAndConditions{
	width:20%;
	margin-left:5%;
	text-align:left;
}
#Copyright{
	width:50%;
	text-align:center;
}
#returnItems{
	width:20%;
	text-align:right;
}