main iframe{
	position:relative;
	border:0;
	margin-top:85px;
	margin-bottom:20px;
	margin-left:205px;
	text-align:center;
	min-height:700px;
	width:80%;
}
aside{
	position:fixed;
	top:80px;
	height:calc(100% - 80px);
	width:200px;
	min-width:200px;
	background-color:#DDDDDD;
	overflow-x:hidden;
	overflow-y:auto;
}
aside form h2{
	position:relative;
	color:white;
	font-size:18px;
	text-align:left;
	padding:8px;
	background-color:#777777;
}
#sort{
	position:relative;
	color:black;
	width:200px;
	height:40px;
	background-color:#DDDDDD;
}
#sort p{
	position:relative;
	float:left;
	margin-top:8px;
	margin-left:40px;
}
#sort select{
	position:relative;
	float:right;
	margin-top:9px;
	margin-right:25px;
}