#productHolder{
	position:relative;
	padding-top:80px;
	height:700px;
	background-color:#D5D0C2;
}
#productHolder div{
	margin-top:20px;
	margin-bottom:10px;
	width:500px;
	margin-left:50px;
	float:left;
}
#productHolder img{
	max-height:450px;
	width:450px;
	margin-left:30px;
	float:left;
}
#productHolder h1{
	margin-top:20px;
	margin-bottom:20px;
	margin-left:60px;
	font-size:30px;
}
#productHolder h2{
	margin-top:40px;
	margin-bottom:50px;
	font-size:26px;
}
.oldPrice{
	font-size:24px;
}
.sale{
	color:red;
}
#productHolder p{
	font-size:15px;
}
#productHolder iframe{
	border:none;
	height:100px;
	width:500px;
}
.relatedHolder{
	height:520px;
}
#relatedHolderA{
	background-color:#EEEEEE;
}
#relatedHolderB{
	background-color:#DDDDDD;
}
.products{
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	height:510px;
	min-width:1110px;
	max-width:1110px;
	margin-top:25px;
}
.products div label{
	position:relative;
	color:black;
	width:70px;
	font-size:20px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:10px;
	padding-right:10px;
	border-style:solid;
	border-width:2px;
	cursor:pointer;
	-webkit-transition: background .3s linear;
	-moz-transition: background .3s linear;
	transition: background .3s linear;
}
.products div label:hover{
	color:white;
	border-color:#404040;
	background-color:#404040;
}
.products div{
	position:relative;
	text-align:center;
	padding:10px;
	margin:5px;
	float:left;
	width:240px;
	height:380px;
}
.products img{
	height:220px;
	max-width:220px;
}
.products input[type=submit]{
	display:none;
}
.products h1{
	text-align:left;
	margin-left:10px;
	height:40px;
}
.oldPrice{
	font-size:20px;
}
.sale{
	color:red;
}
.products h3{
	text-align:left;
	margin-left:10px;
	margin-right:10px;
	height:70px;
}
.products .inStock{
	color:green;
	margin-top:2px;
}
.products .outOfStock{
	color:red;
	margin-top:2px;
}
.products hr{
	width:1px;
	margin-top:20px;
	height:340px;
	display:block;
	float:left;
}
.relatedHolder h4{
	font-weight:normal;
	padding-top:20px;
	font-size:30px;
	padding-bottom:23px;
	letter-spacing:1px;
	text-align:center;
}