#title{
	position:absolute;
	margin-left:45%;
}
#title h2{
	position:relative;
	margin-top:20px;
	float:left;
	font-size:30px;
	height:110px;
}
#title img{
	margin-top:5px;
	margin-left:5px;
	float:right;
}
input[type=submit] {
	display:none;
}
.quantity {
	visibility:hidden;
	text-align:center;
}
input[type=checkbox]{
	margin-top:100px;
	height:20px;
	width:20px;
	float:left;
}
input[type=number]{
	height:30px;
	width:60px;
}
input[type=checkbox]:checked + section div.quantity {
	visibility:visible;
}
main{
	position:relative;
	padding-top:140px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	width:1024px;
	min-height:500px;
}
main section{
	position:relative;
	margin-bottom:20px;
	margin-left:40px;
	height:220px;
	width:96%;
	background-color:#D5D0C2;
}
main img{
	position:relative;
	margin-left:20px;
	margin-top:10px;
	width:200px;
	float:left;
}
section div img{
	margin-left:0px;
	padding-left:5px;
	max-height:50px;
	max-width:50px;
	float:right;
	cursor:pointer;
}
main div{
	position:relative;
	margin-top:20px;
	margin-left:20px;
	height:108px;
	width:350px;
	float:left;
}
main h1{
	font-size:30px;
	height:110px;
}
#invalid{
	color:red;
}
main h2{
	font-size:26px;
	margin-top:15px;
}
.oldPrice{
	font-size:24px;
}
.sale{
	color:red;
}
main h4{
	margin-top:22px;
	font-size:18px;
	color:red;
	float:right;
}
main h5{
	font-size:14px;
}
.quantity p{
	margin-top:20px;
	margin-bottom:10px;
	font-size:20px;
	font-weight:bold;
}
main form p{
	font-size:24px;
	margin-bottom:20px;
}
main label{
	text-align:center;
	float:right;
	padding-top:5px;
	padding-bottom:5px;
	width:200px;
	font-size:16px;
	color:black;
	background-color:lightgreen;
	border-style:solid;
	border-width:2px;
}
main iframe{
	border:none;
	width:800px;
	height:50px;
}